:root {
    --page-color: rgba(236.76, 236.76, 236.76);
    --base-color: rgba(255, 255, 255, 1);
    --gray-color: rgba(171, 171, 171, 1);
    --darker-gray: rgba(153, 159, 166, 1);
    --red-color: rgba(255, 85, 0, 1);
    --black-color: rgba(51, 51, 51, 1)
}