.ui-button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: var(--default-border-radius);
    width: 62px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}