.ui-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; /* Задайте желаемую ширину */
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    position: relative;
    input {
        flex-grow: 1; /* Разрешает текстовому полю занимать оставшееся пространство */
        border: none;
        outline: none;
        font-size: 16px;
        background-color: transparent;
    }
    .input-icon {
        margin-right: 8px;
    }
}
