.film-card {
    padding: 40px;
    margin-bottom: 10px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr 5fr;
    h2 {
        margin-left: 10px;
    }
    table {
        margin-left: 10px;
        max-height: 30%;
    }
    tr {
        .property {
            color: var(--gray-color);
        }
        td {
            vertical-align: top;
            padding: 0 15px 10px 0px;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: var(--default-border-radius);
        aspect-ratio: 5 / 6;
    }
    .ui-rating {
        justify-self: end;
        height: 30px;
    }
}
