.top-bar {
    background-color: var(--black-color);
    color: var(--base-color);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 88px;
    z-index: 1000;
    h1 {
        margin-left: 10px;
    }
    button {
        margin-right: 30px;
    }
    .logout-button {
        background-color: var(--gray-color);
        color: var(--base-color);
    }
    .login-button {
        background-color: var(--red-color);
        color: var(--base-color);
    }
    .user-widget {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            margin-right: 10px;
        }
    }
}